/*Style.css SpotIFA*/

body{
 	background-image:url(../library/background_vinyl.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100%;
 	background-color:black;
	font-family: "arial",sans serif;
	color:white;
	margin: 0;
	padding: 0;
}

header{
	font-weight: bolder;
}

footer{
	opacity: 0.3;
}

hr {
  border-top: 1px solid black;
  transform: rotate(-5deg);

}


ul {
  position: fixed; /* Make it stick, even on scroll */
  width: 100px;
  height: 100%; /* Full height */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(30, 30, 39, 0.5);
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a.menu_bouton:hover {
  background-color: #111;
  width:100%;
  border-radius: 25px;
}

#menu_log{
  margin-top: 50px;
}

#menu_log:hover{
  padding:20px 0px;
  margin-top: 50px;
  background-color: purple;
  border-radius: 50px;
}

.menuhome{
}

.menu_home:hover {
  margin:0;
  	background-color: #111;
  	border-radius: 50px;
    border-style:solid ;
    border-width: 1px;

}

.button{
}

.button:link, .button:visited {
  background-color: rgb(80, 80, 120, 0.8);;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
}

.button:hover, .button:active {
  background-color: rgb(100, 100, 150, 0.8);
}

.button_like:link, .button_like:visited {
}

.button_like:hover, .button_like:active {
  background-color: rgb(153, 0, 204);
  padding: 10px 3px;
  border-radius: 80px;
}

.button_alike:link, .button_alike:visited {
}

.button_alike:hover, .button_alike:active {
  background-color: white;
  padding: 10px 3px;
  border-radius: 80px;
}

#content{
	margin-left: 100px;
  text-align: center;
}

#menu{
	position: absolute;
}



#menu_home {
  background:url(../library/logo.png) no-repeat;
  animation-name: logo;   
  animation: logo 1s linear 0s;
}

#menu_home:hover{
  /*animation-play-state: paused;*/
  background-color: #111;
}    

@keyframes logo {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
    from {background-color: grey;
          border-radius: 60px;}
    to {background-color: black;
      border-radius: 60px;}
    }

.pic_profil{
  width: auto; 
  height: 300px; 
  border-radius: 250px;
}

.pic_album{
  width: auto; 
  height: 300px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: rgb(80, 80, 120, 0.8);
  color: white;
  padding: 12px 1px;
  border-radius: 30px;
  outline: none;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
  background-color: rgb(90, 90, 120, 0.8);
}

input[type=search]{
  background-color: rgb(50, 50, 50, 0.5);
  color: white;
  text-shadow:0px 1px 1px rgb(153, 0, 204);
  outline-color: rgb(153, 0, 204);
  height: 30px;
  width: 150px;
  font-size:1.2em;
}

input:focus{
  background-color: rgb(60, 60, 60, 0.6);;
}

input:active{
  background-color: purple;
}

input[type=text],input[type=password]{
  color: white;
}

#register{
  color: purple;
}